body{
  background-color: #e3dfc8;
  font-family:  'Merriweather', serif;
}

.myimg{
  border-radius: 150px;
}

h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Playfair Display', serif;
}
